// Fonts
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter&display=swap');
$title-font: 'Anton', sans-serif;
$body-font: 'Inter', sans-serif;

// Colors
$red: #F26D6D;
$green-header: #358A47;
$green-carrousel: #398948;
$grey: #E5E5E5;
$white: #FFFFFF;
$black: #000000;
